@import url('/css/register.css');
/* a página tem  exatamente o mesmo layout, mudando apenas sua funcionalidade */ 

.back-button{
    position: absolute;
    float: left;
    right: auto;
    left: 60px;
    top: 75px;
}

.back-button button{
    background-color: var(--secondary-red);
}